
.Main
{
    background: #FFF;
      position:relative;
      /* overflow: scroll;  */
      overflow: auto; 
      box-sizing: border-box;
      margin-bottom: 1%;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
::-webkit-scrollbar { 
    display: none; 
}
.Main:before, .Main:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.Main:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.Main .MainhrFix {
    /* margin: 0px; */
    /* background: rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 2px  10px  gray;
    /* position: absolute; */
}
.AboutMe {
    /* background: red; */
    /* max-width: 80vh; */
    /* height: 80vh; */
}
.Services {
    /* background: green; */
    /* height: 80vh; */
    /* padding: 10px; */
    /* margin: 20px; */
}
.Portfolio {
    /* background: blue; */
    /* height: 10vh; */
}
.Contact {
    /* background: hotpink; */
    /* height: 40vh; */
}
.ResumeVD {
    /* background: aqua; */
    /* height: 20vh; */
}