.Connection {
    padding: 0px;
    /* background: yellow; */
    /* background: rgb(255, 212, 45); */
    display: grid;
    grid-row-gap: 1px;
}
.Connection div {
    padding:10px;
    color: black; 
    background: yellow;
}
.Connection div:hover {
    margin: 0px;
    color: yellow;
    /* color: rgb(255, 212, 45); */
    background: black;   
}